* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  background-color: rgb(55, 55, 55);
  color: white;
  padding: 20px;
}

nav {
  margin-top: 10px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  background-color: black;
  list-style: none;
  margin-top: 10px;
  padding: 10px 0;
}

nav ul li a {
  text-decoration: none;
  color: antiquewhite;
  padding: 10px 20px;
}

nav ul li a:hover {
  background-color: #333;
}

section {
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: 200px;
}

main {
  background-color: grey;
  padding: 20px;
}

aside {
  background-color: white;
  padding: 20px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  height: 200px;
  line-height: 200px;
}
